.principal{
    padding: 30px;
}

/* nome */

.principal__name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    grid-area: name;
}

.principal__name h1{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: Pamuci;
    color: var(--branco);
}

.principal__name h2{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: Pamuci;
    color: var(--principal-color);
}

.principal__name h3{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: Pamuci;
    color: var(--branco);
}

.principal__name h3 span{
    font-size: 24px;
    letter-spacing: 0.5px;
    font-family: Pamuci light;
    color: var(--branco);
}

/* foto */

.principal__image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: foto;
}

.principal__image-1200{
    display: none;
}

.principal__foto{
    position: relative;
    width: 200px;
}

.principal__foto img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #00d2df;
}

.barras-1 div, .barras-2 div{
    background-color: #9358f7;
    width: 100px;
    height: 4px;
}

.barras-1{
    position: absolute;
    top: 15px;
    z-index: -1;
}

.barras-2{
    position: absolute;
    bottom: 15px; 
    right: 0;
    z-index: -1;
}

.barras-1 div + div, 
.barras-2 div + div{
    margin: 7px 0 0 10px;
}

/* sobre mim */

.principal__infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    grid-area: sobre;
}

.principal__infos h1{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: Enwicken Typeface;
    color: var(--title);
}

.principal__infos p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    color: var(--text);

    width: 70%;
    margin: 10px 0 0 0;
}

/* skills */

.principal__skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: skills;
}

.principal__skills h1{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: Enwicken Typeface;
    color: var(--title);
}

.skills__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 102px;
    gap: 40px;
    margin: -8px 0;
}

.skills__icons img{
    width: 50px;
    height: 54px;
}

/* languages */

.principal__languages{
    grid-area: languages;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.principal__languages h1{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: Enwicken Typeface;
    color: var(--title);
    
}

.principal__languages h2{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: Enwicken Typeface;
    color: var(--title);
    margin: 10px 0 0 0;
}

/* contato */

.principal__contato{
    grid-area: contato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.contato__buttons{
    display: flex;
    gap: 40px;
    margin: 20px 0;
}

.border-instagram,
.border-linkedin,
.border-github{
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    transition: transform 0.2s ease-in-out;
}

.border-instagram:hover,
.border-linkedin:hover,
.border-github:hover{
    transform: scale(1.1);
}

.border-instagram{
    background-image: linear-gradient(135deg,
        var(--gradient-instagram-1),
        var(--gradient-instagram-2),
        var(--gradient-instagram-3),
        var(--gradient-instagram-4),
        var(--gradient-instagram-5)); 
}

.border-linkedin{
    background-image: linear-gradient(135deg,
        var(--hover),
        var(--principal-color));
}

.border-github{
    background-image: linear-gradient(135deg,
        var(--gradient-git-1),
        var(--gradient-git-2));
}

.border-instagram div, 
.border-linkedin div, 
.border-github div{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    background-color: var(--bg-button);
}

.contato__buttons li a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-instagram img,
.border-github img,
.border-linkedin img{
    width: 32px;
    height: 32px;
}

.contato{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 100px;
    border: 1px solid var(--principal-color);
    background-color: var(--bg-button);

    transition: transform 0.2s ease-in-out;
}

.contato:hover{
    transform: scale(1.1);
}

.contato span{
    margin: 10px;

    font-size: 20px;
    font-weight: 400;
    font-family: Enwicken Typeface;
}

.contato img{
    width: 27px;
    height: 24px;
    margin: 10px;
}

/* projetos */

.principal__projetos{
    grid-area: projetos;
}

.principal__projetos h1{
    margin: 30px;
    
    font-size: 30px;
    font-weight: 400;
    font-family: Enwicken Typeface;
    color: var(--title);
    text-align: center;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projetos figure{
    width: 100%;
}

.projetos figure img{
    max-width: 100%;
    min-width: 270px;
    min-height: 200px;
}

.projetos figure img:nth-of-type(2){
    display: none;
}

.projetos h2{
    font-size: 25px;
    font-weight: 400;
    color: var(--title);
    font-family: Enwicken Typeface;
}

.projetos p{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    color: var(--text);
    
    width: 70%;
    margin: 5px 0;
}

.projetos h3{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    color: var(--principal-color);
    margin: 5px 0;
}

.projetos__text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin: 20px 0 20px 0;
}

.projetos__button{
    width: 156px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0 20px 0;

    border: 1px solid var(--principal-color);
    background-color: var(--bg-button);
}

.projetos__button img{
    width: 24px;
    height: 24px;
}

.projetos__button span{
    font-size: 20px;
    font-weight: 400;
    font-family: Enwicken Typeface;
    color: var(--principal-color);
}


@media (min-width:950px){

    .principal{
        display: grid;
        grid-area: main;
        grid-template: 
        "name name"
        "sobre foto"
        "skills languages"
        "skills contato"
        "projetos projetos"
        / 1fr 1fr;
    }

    /* sobre mim */

    .principal__infos{
        justify-self: center;
        align-self: center;
        width: 100%;
    }

    /* projetos */

    .principal__projetos{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 0 30px;
    }

    .principal__projetos h1{
        grid-column: span 2;
    }

}

@media (min-width: 1200px){

    .principal{
        grid-template: 
        "name foto"
        "sobre foto"
        "skills languages"
        "skills contato"
        "projetos projetos"
        / 1fr 1fr;
    }

    /* foto */

    .principal__image{
        display: none;
    }

    .principal__image-1200{
        display: flex;
        align-items: center;
        justify-content: start;
        grid-area: foto;
    }

    .moldura{
        width: 250px;
        height: 510px;

        border: 60px solid var(--principal-color);
        background: transparent;
    }

    .principal__foto-1200{
        display: flex;
        align-items: end;
        justify-content: end;
        position: absolute;
        margin: 0 0 0 60px;
    }

    .principal__foto-1200 img{
        z-index: 1;
        width: 400px;
        height: 340px;
    }

    .triangulo{
        width: 0; height: 0;
        z-index: 2;
        position: absolute;

        background-color: transparent;
        border: 80px solid transparent;
        border-bottom: 80px solid #9358F7;
        border-right: 80px solid #9358F7;
    }

    /* languages */

    .principal__languages{
        align-self: end;
        justify-self: center;
        margin: 10px;
    }
    
}

@media (max-width:500px){

    /* name */

    .principal__name{
        text-align: center;
    }

    /* sobre */
    
    .principal__infos p{
        overflow-x: auto;

        column-count: 2;
        column-gap: 20px;

        max-height: 250px;
        width: 90%;
    }

}

@media (max-width:330px){

    .projetos figure img:nth-of-type(1){
        display: none;
    }

    .projetos figure img:nth-of-type(2){
        display: block;
    }

    .projetos figure img{
        min-width: 200px;
    }

}