@import url(header.css);
@import url(sidenav.css);
@import url(main.css);
@import url(footer.css);

:root{
    --preto: #000000;
    --branco: #ffffff;
    --hover: #9358f7;

    --body: #121212;
    --bg: #151515;
    --bg-scroll-bar: #1a1a1a;
    --bg-button: #272727;

    --gradient-1: #D004D9;
    --gradient-2: #9358f7;
    --gradient-3: #10D7E2;

    --principal-color: #00D2DF;

    --title: #e7e7e7;
    --text: #C4C4C4;

    --border: #272727;
    --border-icon: #02BBC5;

    --gradient-git-1: #D24074;
    --gradient-git-2: #6518B4;

    --gradient-instagram-1: #7638FA;
    --gradient-instagram-2: #D300C5C2;
    --gradient-instagram-3: #FF0069;
    --gradient-instagram-4: #FF7A00;
    --gradient-instagram-5: #FFD600;

    --dark-body: #f9f9f9;
    --dark-title: #1c1818;
    --dark-text: #757575;
}

@font-face {
    font-family: Enwicken Typeface;
    src: url(../Fonts/EnwickenTypeface\ Regular.ttf)
    format(opentype);
}

@font-face {
    font-family: Pamuci;
    src: url(../Fonts/Pamuci\ Regular.otf)
    format(opentype);
}

@font-face {
    font-family: Pamuci light;
    src: url(../Fonts/Pamuci\ Thin.ttf)
    format(truetype);
}

@font-face {
    font-family: Pamuci bold;
    src: url(../Fonts/Pamuci\ Bold.ttf);
}

@keyframes textAnimation {
    0% {
        opacity: 0;
    }

    70%{
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar{
    background-color: var(--bg-scroll-bar);
    width: 10px;
    
}

::-webkit-scrollbar-thumb{
    width: 10px;

    background-color: var(--principal-color);
    border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body);

    overflow-x: hidden;
    transition: 0.3s ease-in-out;
}

body.dark{
    background-color: var(--dark-body);
}

a{
    color: var(--principal-color);
}